body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #163020;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: calc(100% - 20px);
    margin: 0 10px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #EEF0E5;
}

th, td {
    border: 1px solid #B6C4B6;
    padding: 15px;
    padding: auto;
    text-align: center;
}

th {
    text-align: center;
    background-color: #163020;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #B6C4B6;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #163020;
}

button {
    background-color: #163020;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #163020;
}
